[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMuaNccuT9k3GO2o9biMGqvHcyz6GGKvtvtIODgc1Dlg
	name = Levin Bänninger
	email = levin@baenninger.me
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
